.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}
.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  flex-direction: column;
  font-weight: bold;
  font-size: 4.2rem;
  color: var(--primary);
  transition: all 0.3s ease-in-out;
  &:hover {
    filter: brightness(50%);
  }
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
